{{#unless damageWasAutomated}} {{#if canUserModify}} {{#if compact}}
<button
    data-action="damage"
    class="compact-button{{#if damageButtonClicked}} disabled{{/if}}"
>
    {{ localize "DCC.RollDamage" }}
</button>
{{else}}
<div class="card-buttons centered">
    <button
        data-action="damage"
        class="damage-button{{#if damageButtonClicked}} disabled{{/if}}"
    >
        {{ localize "DCC.RollDamage" }}{{#if damageRollFormula}}{{#unless
        compact}} ({{damageRollFormula}}){{/unless}}{{/if}}
    </button>
</div>
{{/if}} {{/if}} {{else}} {{#if compact}}
<span class="compact-damage-result"
    >{{localize "DCC.Damage"}}: <strong>{{automatedDamageTotal}}</strong></span
>
{{else}}
<div class="chat-details centered">
    <div class="roll-result">
        {{localize "DCC.Damage"}}: <strong>{{automatedDamageTotal}}</strong>
    </div>
</div>
{{/if}} {{/unless}}
