{{#unless fumbleWasAutomated}} {{#if canUserModify}} {{#if compact}}
<button
    data-action="fumble"
    class="compact-button{{#if fumbleButtonClicked}} disabled{{/if}}"
>
    {{ localize "DCC.RollFumble" }}
</button>
{{else}}
<div class="card-buttons centered">
    <button
        data-action="fumble"
        class="{{#if fumbleButtonClicked}} disabled{{/if}}"
    >
        {{ localize "DCC.RollFumble" }}
    </button>
</div>
{{/if}} {{/if}} {{else}} {{#if compact}}
<div class="compact-auto-result">{{{automatedFumbleDisplay}}}</div>
{{else}}
<div class="chat-details centered">
    <div class="roll-result status-info">{{{automatedFumbleDisplay}}}</div>
</div>
{{/if}} {{/unless}}
