<!-- prettier-ignore -->
<div
    class="dccqol chat-card"
    data-actor-id="{{actor._id}}"
    data-weapon-id="{{weapon._id}}"
    data-token-id="{{tokenId}}"
    data-target="{{target}}"
    data-targettoken-id="{{targettokenId}}"
    data-options="{{options}}"
>
    <header class="card-header flexrow">
        <!-- <img
            src="{{actor.img}}"
            title="{{actor.name}}"
            width="36"
            height="36"
        /> -->
        <h3 class="flavor-text">
            {{#if isBackstab}}
                {{localize "DCC-QOL.BackstabsWith" weapon=weapon.name}}
            {{else}}
                {{localize "DCC-QOL.AttacksWith" weapon=weapon.name}}
            {{/if}}
        </h3>
        {{#if isPC}}
        <img
            src="{{weapon.img}}"
            title="{{weapon.name}} (Weapon)"
            width="36"
            height="36"
        />
        {{else}}
        <img
            src="{{actor.img}}"
            title="{{actor.name}} (Actor)"
            width="36"
            height="36"
            class="npc-token-image"
        />
        {{/if}}
    </header>

    <!-- <div class="card-content">{{{weapon.system.description.value}}}</div> -->

    {{{diceHTML}}} {{#if deedDieResult}}
    <div class="roll-result">
        {{localize "DCC.DeedDie"}}: <strong>{{deedDieResult}}</strong>
    </div>
    {{/if}} {{#if isFumble}}
    <div class="chat-details centered">
        <div class="roll-result status-failure">{{localize "DCC.Fumble"}}!</div>
    </div>
    {{#unless fumbleWasAutomated}}
    <div class="card-buttons centered">
        <button data-action="fumble">{{ localize "DCC.RollFumble" }}</button>
    </div>
    {{else}}
    <div class="chat-details centered">
        <div class="roll-result status-info">{{{automatedFumbleDisplay}}}</div>
    </div>
    {{/unless}} {{else}} {{#if hitsTarget}}
    <div class="chat-details centered">
        <div class="roll-result status-success">
            <span>
                {{ localize "DCC.Attack" }} {{#if isCrit}} {{localize
                "DCC-QOL.AttackRollHitsCrit"}} {{else}} {{ localize
                "DCC-QOL.AttackRollHits"}} {{/if}}{{target}}!
            </span>
            {{#if deedRollSuccess}} <br />{{localize "DCC-QOL.DeedRollSuccess"}}
            {{/if}}
        </div>
    </div>
    {{#unless damageWasAutomated}}
    <div class="card-buttons centered">
        <button data-action="damage">{{ localize "DCC.RollDamage" }}</button>
    </div>
    {{else}}
    <div class="chat-details centered">
        <div class="roll-result">
            {{localize "DCC.Damage"}}: <strong>{{automatedDamageTotal}}</strong>
        </div>
    </div>
    {{/unless}} {{else}} {{#if target}}
    <div class="chat-details centered">
        <div class="roll-result status-failure">
            {{ tokenName }} {{ localize "DCC-QOL.AttackRollMisses"}} {{target}}
        </div>
    </div>
    {{else}}
    <div class="chat-details centered">
        <div class="roll-result status-success">
            {{ tokenName }} {{#if isCrit }} {{localize
            "DCC-QOL.AttackRollHitsCrit"}}! {{ else }} {{localize
            "DCC-QOL.AttackRollHitsAC" AC=hitsAc}} {{/if}}
        </div>
    </div>
    {{#unless damageWasAutomated}}
    <div class="card-buttons centered">
        <button data-action="damage">{{ localize "DCC.RollDamage" }}</button>
    </div>
    {{else}}
    <div class="chat-details centered">
        <div class="roll-result">
            {{localize "DCC.Damage"}}: <strong>{{automatedDamageTotal}}</strong>
        </div>
    </div>
    {{/unless}} {{/if}} {{/if}} {{/if}} {{#if isCrit}} {{#unless
    critWasAutomated}}
    <div class="card-buttons centered">
        <button data-action="crit">{{ localize "DCC.RollCritical" }}</button>
    </div>
    {{else}}
    <div class="chat-details centered">
        <div class="roll-result status-info">{{{automatedCritDisplay}}}</div>
    </div>
    {{/unless}} {{/if}} {{#if showFriendlyFireButton}}
    <div class="card-buttons centered">
        <button data-action="friendlyFire">
            {{ localize "DCC-QOL.FriendlyFireCheck" }}
        </button>
    </div>
    {{/if}}

    <footer class="card-footer centered">
        {{#each properties}}
        <span class="tag"> {{this}}</span>
        {{/each}}
    </footer>
</div>
