<!-- prettier-ignore -->
<div
    class="dccqol chat-card"
    data-actor-id="{{actor._id}}"
    data-weapon-id="{{weapon._id}}"
    data-token-id="{{tokenId}}"
    data-target="{{target}}"
    data-targettoken-id="{{targetTokenId}}"
    data-options="{{options}}"
>
    <header class="card-header flexrow">
        <!-- <img
            src="{{actor.img}}"
            title="{{actor.name}}"
            width="36"
            height="36"
        /> -->
        <h3 class="flavor-text">
            {{#if isBackstab}}
                <img src="/systems/dcc/styles/images/backstab.png" title="Backstab" width="20" height="20" style="vertical-align: middle; margin-right: 5px; border: none;" />
                {{localize "DCC-QOL.BackstabsWith" weapon=weapon.name}}
            {{else}}
                {{localize "DCC-QOL.AttacksWith" weapon=weapon.name}}
            {{/if}}
        </h3>
        {{#if isPC}}
        <img
            src="{{weapon.img}}"
            title="{{weapon.name}} (Weapon)"
            width="36"
            height="36"
        />
        {{else}}
        <img
            src="{{actor.img}}"
            title="{{actor.name}} (Actor)"
            width="36"
            height="36"
            class="npc-token-image"
        />
        {{/if}}
    </header>

    <!-- <div class="card-content">{{{weapon.system.description.value}}}</div> -->

    {{{diceHTML}}} {{#if deedDieResult}}
    <div class="roll-result">
        {{localize "DCC.DeedDie"}}: <strong>{{deedDieResult}}</strong>
    </div>
    {{/if}} {{#if isFumble}}
    <div class="chat-details centered">
        <div class="roll-result status-failure">{{localize "DCC.Fumble"}}!</div>
    </div>
    {{> "modules/dcc-qol/templates/partials/_fumble-button.html"}} {{else}} {{#if hitsTarget}}
    <div class="chat-details centered">
        <div class="roll-result status-success">
            <span>
                {{ localize "DCC.Attack" }} {{#if isCrit}} {{localize
                "DCC-QOL.AttackRollHitsCrit"}} {{else}} {{ localize
                "DCC-QOL.AttackRollHits"}} {{/if}}{{target}}!
            </span>
            {{#if deedRollSuccess}} <br />{{localize "DCC-QOL.DeedRollSuccess"}}
            {{/if}}
        </div>
    </div>
    {{#unless damageWasAutomated}}
    {{> "modules/dcc-qol/templates/partials/_damage-button.html"}}
    {{else}}
    <div class="chat-details centered">
        <div class="roll-result">
            {{localize "DCC.Damage"}}: <strong>{{automatedDamageTotal}}</strong>
        </div>
    </div>
    {{/unless}} {{else}} {{#if target}}
    <div class="chat-details centered">
        <div class="roll-result status-failure">
            {{ tokenName }} {{ localize "DCC-QOL.AttackRollMisses"}} {{target}}
        </div>
    </div>
    {{else}}
    <div class="chat-details centered">
        <div class="roll-result status-success">
            {{#if isBackstab}}
                {{ tokenName }} {{localize "DCC-QOL.BackstabHitsAC" AC=hitsAc}}
            {{else}}
                {{ tokenName }} {{#if isCrit }} {{localize
                "DCC-QOL.AttackRollHitsCrit"}}! {{ else }} {{localize
                "DCC-QOL.AttackRollHitsAC" AC=hitsAc}} {{/if}}
            {{/if}}
        </div>
    </div>
    {{#unless damageWasAutomated}}
    {{> "modules/dcc-qol/templates/partials/_damage-button.html"}}
    {{else}}
    <div class="chat-details centered">
        <div class="roll-result">
            {{localize "DCC.Damage"}}: <strong>{{automatedDamageTotal}}</strong>
        </div>
    </div>
    {{/unless}} {{/if}} {{/if}} {{/if}} {{#if isCrit}}     {{> "modules/dcc-qol/templates/partials/_crit-button.html"}} {{/if}}     {{> "modules/dcc-qol/templates/partials/_friendly-fire-button.html"}}

    <footer class="card-footer centered">
        {{#each properties}}
        <span class="tag"> {{this}}</span>
        {{/each}}
    </footer>
</div>
