<div
    class="dccqol chat-card"
    data-actor-id="{{actor.id}}"
    data-weapon-id="{{weapon.id}}"
    data-token-id="{{tokenId}}"
    data-options="{{options}}"
>
    <header class="card-header flexrow">
        <img
            src="{{weapon.img}}"
            title="{{weapon.name}}"
            width="36"
            height="36"
        />
        <h3 class="weapon-name">{{headerText}}</h3>
    </header>

    <div class="card-content">
        <!-- Weapon Description -->
        {{#if weapon.system.description.value}}
        <div class="weapon-description">
            {{{weapon.system.description.value}}}
        </div>
        {{/if}}

        <!-- Roll Results -->
        <div class="dice-roll">{{{diceHTML}}}</div>

        <!-- Deed Die Results -->
        {{#if deedDieValue}}
        <div
            class="deed-die"
            style="color: {{#if deedRollSuccess}}green{{else}}black{{/if}}"
        >
            <h4>Deed Die: {{deedDieValue}}</h4>
            {{#if deedRollSuccess}}
            <div class="deed-success">Success!</div>
            {{/if}}
        </div>
        {{/if}}

        <!-- Hit/Miss/Crit/Fumble Status -->
        {{#if isDisplayHitMiss}}
        <div class="attack-status">
            {{#if isFumble}}
            <h3 class="fumble">Fumble!</h3>
            {{else if isCrit}}
            <h3 class="critical">Critical Hit!</h3>
            {{else if hitsTarget}}
            <h3 class="hit">Hit!</h3>
            {{else if target}}
            <h3 class="miss">Miss!</h3>
            {{/if}}
        </div>
        {{/if}}

        <!-- Warning for Friendly Fire -->
        {{#if friendlyFire}}
        <div class="friendly-fire-warning">
            <p class="warning">Warning: Firing into melee!</p>
        </div>
        {{/if}}

        <!-- Action Buttons -->
        <div class="card-buttons">
            {{#if isFumble}}
            <button data-action="fumble">Roll Fumble</button>
            {{else if isCrit}}
            <button data-action="crit">Roll Critical</button>
            <button data-action="damage">Roll Damage</button>
            {{else if hitsTarget}}
            <button data-action="damage">Roll Damage</button>
            {{/if}} {{#if friendlyFire}}
            <button data-action="friendlyFire">Check Friendly Fire</button>
            {{/if}}
        </div>
    </div>

    <!-- Weapon Properties -->
    <footer class="card-footer">
        {{#each properties as |property|}}
        <span class="tag">{{property}}</span>
        {{/each}}
    </footer>
</div>
